@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 90vh;
    background: rgb(1,0,18);
    background: linear-gradient(90deg, rgba(1,0,18,1) 0%, 
            rgba(41,41,41,1) 41%, rgba(121,133,135,1) 100%);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #464646;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 1000;
}

.nav .name{
    color: #ffffff;
}


.nav .navigation ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav .navigation ul a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    transition: all 200ms ease-in-out;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 60px
}

.main .picture {
    width: 400px;
    margin-top: 100px;
}

.main .intro{
    margin-top: 100px;
    text-align: center;
    color: whitesmoke;
}

.main .intro h1{
    font-size: 50px;
}

.main .intro h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.Education h1{
    font-size: 40px;
    padding-top: 30px;
}

.container{
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    padding-bottom: 10px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 5%;
    padding-bottom: 10px;
}

.school{
    display: flex;
    gap: 20px;
    align-items: center;
}

.school img{
    padding-top: 25px;
    padding-bottom: 10px;
    width: 25%;
    height: auto;
    border-radius: 7px;
}

.experience{
    width: 100%;
    height: 33vh;
    background: rgb(1,0,18);
    background: linear-gradient(90deg, rgba(1,0,18,1) 0%, 
            rgba(41,41,41,1) 41%, rgba(121,133,135,1) 100%);
}

.experience h2{
    font-size: 40px;
    padding-top: 30px;
    padding-left: 10px;
    color: #ffffff;
}

.experience dl{
    color: #ffffff;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 5%;
}

.skill-section{
    width: 100%;
    height: 48vh;
    background: rgb(1,0,18);
    background: linear-gradient(90deg, rgba(1,0,18,1) 0%, 
            rgba(41,41,41,1) 41%, rgba(121,133,135,1) 100%);
}

.skill-section h1{
    font-size: 40px;
    padding-top: 30px;
    padding-left: 10px;
    color: #ffffff;
}

.skill-section ul{
    color: white;
    padding-left: 45px;
}

ul li{
    padding-top: 7px;
    padding-bottom: 10px;
}

.projects-section{
    padding-top: 20px;
    background: rgb(56,56,56);
background: linear-gradient(90deg, rgba(56,56,56,1) 0%, 
rgba(56,62,56,1) 41%, rgba(110,119,111,1) 100%);
}

.projects-section h2{
    font-size: 40px;
    padding-left: 10px;
    color: #ffffff;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 5%;
}

.image{
    padding-top: 25px;
    padding-bottom: 10px;
    width: 85%;
    height: auto;
    border-radius: 7px;
}

.project-title{
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0.5rem;
    align-items: center;
    color: #ffffff;
}

.project-title:hover{
    color: #fe2e2e;
}

.contact-section{
    width: 100%;
    height: 5vh;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.links{
    display: flex;
    align-items: flex-start;
    max-width: 10px;
    padding: 20px;
}

.link{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.link img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

